# Anjuta project file
*anjuta*
Debug/
src/.deps/
stamp-h1

# Backaup files '~'
*~

# GNU Build Files
config*
Makefile*
src/Makefile*
INSTALL
THANKS
NEWS
COPYING
ChangeLog
*[.-]sh
*m4*
*cache*
in*
missing
depcomp
libtool

# Additional directories:
po/

# Ignore template ui file
template.ui
